header{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}



body{
margin: 0%;
text-align: center;
}

main{
    text-align: center;
    font-size: 50px;
    margin-top: 0%;
}


#choices {
    height: 80px;
    justify-content: center;
}