header{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}



body{
margin: 0%;
text-align: center;
}

main{
    text-align: center;
    font-size: 50px;
    margin-top: 0%;
    
}


ul li {
    list-style: none;
    
}

.alternative {
    font-size: 30px;
    border: solid black;
    border-radius: 20px;
    margin: 30px;
    background-color: purple;
}